* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.avatar {
    width: 200px;
    height: 300px;
    border: 2px solid brown;
}

.logo {
    width: 200px;
    height: 300px;
}
